{
  "env": {
    "node": {
      "presets": ["latest", "es2017", "stage-3", "react"],
      "plugins": [
        // [
        //   "babel-plugin-transform-require-ignore",
        //   {
        //     "extensions": [".less", ".scss", ".jpg", ".png", "mp4", ".svg", ".css"]
        //   }
        // ],
        // "babel-plugin-transform-async-to-generator"
      ]
    }
  },
	"presets": ["latest", "es2017", "stage-3"],
  "ignore": [],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}