{
  "env": {
    "node": {
      "presets": ["latest", "es2017", "stage-3", "react"],
      "plugins": []
    }
  },
	"presets": ["latest", "es2017", "stage-3", "react"],
  "ignore": [],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}