
.ActionSheet{
  position: fixed;
  z-index: 90;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-flow: column;
  justify-content: space-between;


  .top-part{
    .icon{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 40px;
      i{
        font-size: 64px;
      }
    }
  }

  .bottom-part{
    display: flex;
    flex-flow: column-reverse;
    &>.bottom-btn{
      width: 100%;
      line-height: 112px;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
      background: #fa364e;
    }
    
    .action-sheet-container{
      position: relative;
      // padding-top: 224px;
  
  
      &>.content-padding{
        background-color: #fff;
        padding-top: 34px;
        .ant-carousel{
          height: 480px;
          .slick-slide {
            position: relative;
            text-align: center;
            height: 480px;
            // line-height: 160px;
            background: #ccc;
            overflow: hidden;
          }
          .slick-slide img{
            width: 480px;
            height: 480px;
          }
        }
  
  
        &>.info-panel{
          &>.price{
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            color: #fa364e;
            margin-top: 24px;
            line-height: 56px;
          }
          p{
            font-size: 24px;
            text-align: center;
            color: #555555;
            line-height: 34px;
          }
        }
        .controller{
          margin-top: 20px;
          padding: 0 40px;
          padding-top: 32px;
          border-top: solid 1px #f2f3f4;
          padding-bottom: 32px;
          &>.version{
        
            &>p{
              line-height: 40px;
              font-size: 28px;
              font-weight: 500;
              text-align: left;
              color: #acacac;
            }
            &>.versions{
              // example: https://codepen.io/team/css-tricks/pen/EKEYob
              // file://Users/kunsam/web/order-pay-system/.assist/css/flexbox.scss
              display: flex;
              flex-flow: row nowrap;
              margin-top: 16px;
  
              &>.version{
                width: 120px;
                height: 54px;
                border-radius: 8px;
                border: solid 2px #dadada;
                font-size: 24px;
                text-align: center;
                color: #222222;
                margin-right: 16px;
                line-height: 50px;
  
              }
              &>.active{
                background-color: #222222;
                color: #fff !important;
              }
    
            }
          }
          &>.amount-container{
            display: flex;
            position: relative;
            margin-top: 40px;
            justify-content: space-between;
            &>.label{
              font-size: 28px;
              font-weight: 500;
              text-align: left;
              color: #acacac;
            }
          }
          &>.tips{
            line-height: 34px;
            font-size: 24px;
            text-align: left;
            color: #555555;
            margin-top: 24px;
          }
        }
      }
    }
    
  }

}

body{
  height: 100vh;
  overflow: hidden;
}