.app-container{

	>header{
		position: relative;


		&>.contollers{
			position: absolute;
			top: 0px;
			left: 0px;
			// example: https://codepen.io/team/css-tricks/pen/EKEYob
			// file://Users/kunsam/web/order-pay-system/.assist/css/flexbox.scss
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			&>.icon{

			}
		}
		&>.title{
			color: #999;
			font-size: 26px;
			text-align: center;
			color: #999;
			font-size: 26px;
			text-align: center;

		}
	}
	&>.content-container{

		&>.siderbar{

			&>.user-info{

				&>.project-name{

				}
				&>.username{

				}
				&>.down-icon{

				}
			}
			&>.panel-container{

				&>.read{

				}
				&>.channel-container{
					position: relative;


					&>.title{
						color: #999;
						font-size: 26px;
						text-align: center;
						color: #999;
						font-size: 26px;
						text-align: center;

					}
					&>.channels{
						// example: https://codepen.io/team/css-tricks/pen/EKEYob
						// file://Users/kunsam/web/order-pay-system/.assist/css/flexbox.scss
						display: flex;
						flex-flow: row nowrap;
						justify-content: center;
						align-items: center;
						align-content: center;

						&>.channel{
							width: 100%;
							height: 100%;

						}
					}
				}
			}
		}
		&>.content-container{
			position: relative;


			>header{
				position: relative;


				&>.left-controller-container{
					position: relative;


				}
				&>.controllers{
					// example: https://codepen.io/team/css-tricks/pen/EKEYob
					// file://Users/kunsam/web/order-pay-system/.assist/css/flexbox.scss
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;
					align-content: center;

					&>.controller{
						width: 100%;
						height: 100%;

					}
				}
			}
			&>.chat-container{

			}
		}
	}
}
